body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
	min-height: 400px;
}

h4 {
	padding : 0;
	margin : 1em 0;
}

#map .loading-image {	
	min-height : 25px;	
	background: url("/images/loading-image.gif") no-repeat;
	background-size: 80px 80px;
	background-position : 67% 50%;  
}

ul {
	list-style : none outside;
	padding : 0;
}

ul>li:nth-child(2n) {
	background : #ccc;
}